@page
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    <style>
        #myDiv {
            position: absolute;
            z-index: 9;
            background: #f1f1f1;
            border: 1px solid #d3d3d3;
            text-align: center;
        }

        #myDivCursor {
            padding: 10px;
            cursor: move;
            z-index: 10;
            background-color: #2196F3;
            color: #fff
        }
    </style>
    <div id="myDiv">
        <div id="myDivCursor">
            Click y mueve
        </div>

    </div>
    